/* @import url("/home/manakin/.cache/wal/colors-waybar.css"); */
@import "colors-waybar.css";

* {
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Mononoki";
    color: aliceblue;
    /* font-family:
        "Overpass", "Maple Mono", "Geist Mono", "FiraCode Nerd Font", "JetBrains Mono Nerd", "Iosevka Mono Nerd",
        "Noto Sans Mono", "DejaVu Sans Mono", monospace;
    */
}

box.module button:hover {
    /* border: 1px solid @color7; */
    border-radius: 4px;
}

window#waybar {
    all: unset;
}

.modules-left {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: darkslateblue;
    /* border: solid 1px black; */
    border-radius: 4px;
}

.modules-right {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 0px;
    padding-left: 10px;
    background-color: darkslateblue;
    /* border: solid 2px lightseagreen; */
    border-radius: 4px;
}

.modules-center {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: darkslateblue;
    /* border: solid 2px lightseagreen; */
    border-radius: 4px;
}
